<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Ceci est un titre</title>

    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!--Notre CSS-->
    <link rel="stylesheet" href="./assets/style.css" />

    <!--Importation de Vue-->
    <script src="https://unpkg.com/vue@3.3.4"></script>
  </head>
  <body>
    <!--Point d'entrée de l'app Vue-->
    <div id="app">
      <h1><a :href="lien">{{title}}</a></h1>
      <p>{{message}}</p>
      <img height="200" :src="image" :class="[stock > 0 ? '' : 'stockEmpty']" />
      <div>
        <span
          v-for="carouselImage in carouselImages"
          :key="carouselImage.id"
          @mouseover="updateImage(carouselImage.image)"
        >
          <img height="50" :alt="carouselImage.text" :src="carouselImage.image" />
        </span>
      </div>
      <p v-if="inStock">Disponible</p>
      <p v-else>Plus de stock</p>

      <p v-if="stock > 10">Disponible</p>
      <p v-else-if="stock <= 10 && stock >0">Peu de stock</p>
      <p v-else>Plus de stock</p>

      <p v-show="onSale">En vente!</p>

      <ul>
        <li
          v-for="detail in details"
          :key="detail.id"
          :style="{ color: detail.color }"
        >
          {{ detail.text }}
        </li>
      </ul>

      <div v-for="carouselImage in carouselImages" :key="carouselImage.id">
        {{ carouselImage.text }}
      </div>

     <div v-for="paquet in paquets" :key="paquets.id">
      Id: : {{ paquet.id}}
      Quantité:  {{ paquet.quantity}}
      Prix:  {{ paquet.price}}
     </div>

     <button 
     @click="addToCart"
     :style="styles.roundButton" 
     :disabled = "stock <= 0"
     :class="{ disabledButton: stock <= 0 }" 
     >Ajouter au panier
    </button>
     <button 
     @click="removeFromCart" 
     :style="styles.roundButton" 
     :disabled = "stock <= 0"
     :class="{ disabledButton: stock <= 0 }"
     >Enlever du panier
    </button>
    <div :class="[cart > 0 ? 'cartFilled' : '']">panier: {{cart}}</div>

    </div>  
    


    <!--Bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!--Notre JS contenant notre app Vue-->
    <script src="./main.js"></script>
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
